* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(75, 0, 160);
    padding: 16px 0;
    color: aliceblue;
    display: flex;
    border-bottom: 16px solid rgb(37, 0, 78);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color:rgba(34, 43, 54, 0.24);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color:rgba(16, 163, 72, 0.89);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}

#btn_cancel {
    background-color: brown;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 250px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-img-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-img-link a {
    color: aliceblue;
    text-decoration: none;
}

ul li:hover .overlay-img-link {
    opacity: 1;
}